@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family:"Montserrat",sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}
